<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
   
     
		
      
      
     
            {% for user in users %}
               <tr>
                  <td>{{user.name }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.password }}</td>
                  <td>{{ user.phone_number }}</td>
               </tr>
            {% endfor %}
        
   </body>
</html>